<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zadi.kosakatabahasaarab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Awal"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kosakata.KosakataBuah"
            android:label="@string/title_buah"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".kosakata.Kosakata_Binatang"
            android:label="@string/title_binatang"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".kosakata.Kosakata_Keluarga"
            android:label="@string/title_keluarga"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".kosakata.Kosakata_Tumbuhan"
            android:label="@string/title_tumbuhan"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".kosakata.Kosakata_Anggota_Badan"
            android:label="@string/title_anggota_badan"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".kosakata.KosakataAlatSekolah"
            android:label="@string/title_alat_sekolah"
            android:parentActivityName=".KategoriKosakata"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KategoriKosakata" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".Bantuan"
            android:label="@string/bantuan"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".List_Kategori_Quiz"
            android:label="@string/title_activity_list__quiz"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".KategoriKosakata"
            android:label="@string/title_activity_menu_kosakata"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".Tentang_App"
            android:label="@string/tentang_aplikasi"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".Search.Searching"
            android:label="@string/title_activity_searching"
            android:parentActivityName=".Menu_Awal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu_Awal" />
        </activity>
        <activity
            android:name=".quiz.QuizBuah"
            android:label="@string/title_activity_quiz_buah"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".quiz.QuizBinatang"
            android:label="@string/title_activity_quiz_binatang"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".quiz.QuizKeluarga"
            android:label="@string/title_activity_quiz_keluarga"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".quiz.QuizAlatSekolah"
            android:label="@string/title_activity_quiz_alatsekolah"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".quiz.QuizTumbuhan"
            android:label="@string/title_activity_quiz_tumbuhan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".quiz.QuizAnggotaBadan"
            android:label="@string/title_activity_quiz_anggotabadan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>